
    * {
        margin: 0;
        padding: 0;
    }

    html {
        font-family: "Ubuntu", sans-serif;
    }

    body {
        box-sizing: border-box;
        width: 98vw;
        height: 100vh;
        padding: 2rem;
        text-align: center;
    }

    h2 {
        font-size: 2rem;

    }

    ul {
        list-style: none;
        padding: 1rem;
        /* border: 1px solid red; */
        margin: 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        border-radius: 10px;

    }

    li {
        font-weight: bold;
        /* background-color: black; */
        background: rgb(216, 213, 213);
        margin: 0.3rem;
        /* border: 1px solid red; */
        padding: 0.5rem;
        border-radius: 10px;
        font-size: 1.1rem;
        box-shadow: 5px 5px 10px gray;
        transition: all 0.5s ease-in-out;

    }

    a {
        text-decoration: none;
        color: gray;
        transition: all 0.5s ease-in-out;
    }

    li a:hover {
        color: white;
    }

    li:hover {
        background: rgb(136, 33, 136);
        transform: scale(0.98);
    }
